#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Main_Layer {
            bindings = <
&none  &kp N1            &kp N2       &kp N3            &kp N4          &kp N5  &none                                                                          &none  &kp N6  &kp N7           &kp N8             &kp N9       &kp N0           &none
&none  &kp SINGLE_QUOTE  &kp COMMA    &kp DOT           &kp P           &kp Y   &none                                                                          &none  &kp F   &kp G            &kp C              &kp R        &kp L            &none
&none  &mt LEFT_ALT A    &mt LCTRL O  &mt LEFT_SHIFT E  &mt LEFT_WIN U  &kp I   &none              &none      &none         &none          &none               &none  &kp D   &mt RIGHT_WIN H  &mt RIGHT_SHIFT T  &mt RCTRL N  &mt RIGHT_ALT S  &none
&none  &kp SEMICOLON     &kp Q        &kp J             &kp K           &kp X                                 &none         &none                                     &kp B   &kp M            &kp W              &kp V        &kp Z            &none
&none  &none             &none        &none             &none                          &kp DELETE  &kp ENTER  &kp ESCAPE    &kp BACKSPACE  &kp SPACE  &kp TAB                 &none            &none              &none        &none            &none
            >;
        };
    };
};
