#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Main_Layer {
            bindings = <
&kp GRAVE         &kp N1            &kp N2       &kp N3            &kp N4          &kp N5  &none                                                                              &none  &kp N6  &kp N7           &kp N8             &kp N9       &kp N0           &none
&kp LEFT_BRACKET  &kp SINGLE_QUOTE  &kp COMMA    &kp DOT           &kp P           &kp Y   &none                                                                              &none  &kp F   &kp G            &kp C              &kp R        &kp L            &kp RIGHT_BRACKET
&kp SLASH         &mt LEFT_ALT A    &mt LCTRL O  &mt LEFT_SHIFT E  &mt LEFT_WIN U  &kp I   &none              &none        &none         &none          &none                 &none  &kp D   &mt RIGHT_WIN H  &mt RIGHT_SHIFT T  &mt RCTRL N  &mt RIGHT_ALT S  &kp BACKSLASH
&kp MINUS         &kp SEMICOLON     &kp Q        &kp J             &kp K           &kp X                                   &none         &none                                       &kp B   &kp M            &kp W              &kp V        &kp Z            &kp EQUAL
&none             &none             &none        &none             &none                          &kp DELETE  &lt 1 ENTER  &kp ESCAPE    &kp BACKSPACE  &lt 1 SPACE  &kp TAB                 &none            &none              &none        &none            &none
            >;
        };

        Movement {
            bindings = <
&bootloader  &none         &none      &none           &none         &none  &none                                                                    &none  &none     &none     &none         &none      &none  &none
&none        &none         &none      &none           &none         &none  &none                                                                    &none  &kp HOME  &none     &none         &kp END    &none  &none
&none        &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &kp LEFT_WIN  &none  &none              &none   &none         &none          &none            &none  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &none  &none
&none        &none         &none      &none           &none         &none                             &none         &none                                  &none     &none     &none         &none      &none  &none
&none        &none         &none      &none           &none                       &kp DELETE  &trans  &kp ESCAPE    &kp BACKSPACE  &trans  &kp TAB                   &none     &none         &none      &none  &none
            >;
        };
    };
};
